<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <div class="fadeIn first">
      <h1>LOGIN</h1>
      <div *ngIf="denessLogin" class="invalid-feedback">
          <div *ngIf="denessLogin">Sai email hoặc mật khẩu</div>
        </div>
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <input matInput placeholder="Email" type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fval.email.errors }">
          <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
            <div *ngIf="fval.email.errors.required">Vui lòng nhập email</div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input matInput placeholder="Password" type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fval.password.errors }">
          <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
            <div *ngIf="fval.password.errors.required">Vui lòng nhập mật khẩu</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <input type="checkbox" formControlName="rememberMe" value="1">Remember Me<br />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button mat-raised-button type="submit" class="btn btn-danger pull-center">Log in</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="isWait" style="align-items: center;
  position: fixed;
  justify-content: center;
  z-index: 1000;
  width: 100vw;
  height: 100%;
  top: 0;
  background: #847d7d30;">
  <mat-spinner style="width: 100px;
    height: 100px;
    margin-top: 20%;
    margin-left: 46%;"></mat-spinner>
</div>