<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <mat-card>
                <mat-card-title>
                    Chào {{fullname}}!
                </mat-card-title>
            </mat-card>
            <mat-card-content style="margin-left: 20px; margin-top: 10px;">
                Daily Report là một ứng dụng cho phép bạn thực hiện quản lý thời gian, tiến độ công việc được
                giao
                trong một dự án!
                Hay bắt đầu dùng nào!
            </mat-card-content>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                </div>
            </div>
        </div>
    </div>
</div>